/* div {
   width: 400px;
   height: 400px;
   position: relative;
   position: absolute;
   background: green;
   border: 2px solid #000;
} */

div {
   width: 400px; /* w */
   height: 400px; /* h */
   position: relative; /* pos */
   position: absolute; /* pos:a */
   background: green; /* bg */
   border: 2px solid red; /* bd */
}